
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 280 33% 97%; /* #EEE5E9 */
    --foreground: 202 81% 20%; /* #08415C */

    --card: 280 33% 97%;
    --card-foreground: 202 81% 20%;

    --popover: 280 33% 97%;
    --popover-foreground: 202 81% 20%;

    --primary: 0 0% 100%; /* White */
    --primary-foreground: 202 81% 20%; /* Dark Blue */

    --secondary: 202 12% 48%; /* #6B818C */
    --secondary-foreground: 280 33% 97%;
    
    --muted: 202 12% 78%;
    --muted-foreground: 202 12% 38%;

    --accent: 30 76% 77%; /* #F1BF98 */
    --accent-foreground: 202 81% 20%;

    --destructive: 355 65% 48%; /* #CC2936 */
    --destructive-foreground: 280 33% 97%;

    --border: 202 12% 88%;
    --input: 202 12% 88%;
    --ring: 355 65% 48%;

    --radius: 0.5rem;

    /* Custom Palette */
    --primary-dark-blue: 202 81% 20%;
    --primary-red: 355 65% 48%;
    --neutral-grey: 202 12% 48%;
    --accent-peach: 30 76% 77%;
    --background-offwhite: 280 33% 97%;
  }

  .dark {
    --background: 202 81% 20%; /* #08415C */
    --foreground: 280 33% 97%; /* #EEE5E9 */

    --card: 202 81% 25%;
    --card-foreground: 280 33% 97%;

    --popover: 202 81% 20%;
    --popover-foreground: 280 33% 97%;

    --primary: 0 0% 100%; /* White */
    --primary-foreground: 202 81% 20%; /* Dark Blue */

    --secondary: 202 12% 48%; /* #6B818C */
    --secondary-foreground: 280 33% 97%;

    --muted: 202 81% 25%;
    --muted-foreground: 202 12% 58%;

    --accent: 30 76% 77%;
    --accent-foreground: 202 81% 20%;

    --destructive: 355 65% 48%; /* #CC2936 */
    --destructive-foreground: 280 33% 97%;

    --border: 202 81% 25%;
    --input: 202 81% 25%;
    --ring: 30 76% 77%;

     /* Custom Palette */
    --primary-dark-blue: 202 81% 20%;
    --primary-red: 355 65% 48%;
    --neutral-grey: 202 12% 48%;
    --accent-peach: 30 76% 77%;
    --background-offwhite: 280 33% 97%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
